<div id="disqus_thread"></div>
<script>

    var disqus_config = function () {
        s.src = '//kspc-1.disqus.com/embed.js'
        this.page.url = '<%= url_for(@blog) %>';
        this.page.identifier = '<%= @blog.id %>';
        this.page.title = '<%= @blog.title %>';
    };

    (function () {
        var d = document,
            s = d.createElement('script');
        s.src = 'https://kspc-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', + new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
