<!-- Blog Search Well -->
<div class="card card-block bg-faded">
    <h4>Blog Search</h4>
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="fa fa-search"></span>
            </button>
        </span>
    </div>
</div>

<br>

<!-- Blog Categories Well -->
<div class="card card-block bg-faded">
    <h4>Blog Categories</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
                <!-- Placeholder Categories -->
                <li>
                    <a href="#">Category Name</a>
                </li>
                <li>
                    <a href="#">Category Name</a>
                </li>
                <li>
                    <a href="#">Category Name</a>
                </li>
                <li>
                    <a href="#">Category Name</a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <ul class="list-unstyled">
                <li>
                    <a href="#">Category Name</a>
                </li>
                <li>
                    <a href="#">Category Name</a>
                </li>
                <li>
                    <a href="#">Category Name</a>
                </li>
                <li>
                    <a href="#">Category Name</a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>

<br>

<!-- Side Widget Well -->
<div class="widget-box">
  <a class="twitter-timeline" data-height="1000" data-theme="light" data-link-color="#E81C4F" href="https://twitter.com/kspc">Recent Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<br>
