<br>
<h1>Editor</h1>
<%= tinymce %>
<%= form_for @about do |f| %>
<%= f.text_area :content, :class => "tinymce", :rows => 18, :cols => 120 %>
<br>
<%= f.submit 'Save', {class: 'btn btn-success'} %>
<% end %>
