<div class="row">
    <!-- After the slideshow -->
    <div class = "col-12">
        <div class="row">
            <div class = "col-8">
                <div class="col">
                    <h1 class="page-header">Upcoming Events</h1>
                    <br>
                </div>
                
                <div class="col">
                    <h1 class="page-header">Spotlight</h1>
                    <br>
                </div>
                <div class = "row">
                    <div class="col-lg-3 thumb">
                        <a class="thumbnail" href="http://kspc.org/beach-goth-2016-preview/">
                            <img class="img-responsive" src="http://kspc.org/blog/wp-content/uploads/2016/10/beach-goth-lineup-182x100.png" alt="">
                        </a>
                        <dateComment>October 21 2016 | 0 comments</dateComment>
                        <!-- Change this 0 comment and date to a variable -->
                        <%= link_to "Beach Goth 2016 Preview", 'http://kspc.org/beach-goth-2016-preview/', {:style=>'color: green;', :class => "css_class"} %>
                        <p>Beach goth 2016 is this weekend .......</p>
                    </div>
                    <div class="col-lg-1 thumb">
                    </div>
                    <div class="col-lg-3 thumb">
                        <a class="thumbnail" href="http://kspc.org/show-review-crying-and-the-hotelier-at-the-echo/">
                            <img class="img-responsive" src="http://kspc.org/blog/wp-content/uploads/2016/10/hot2-182x100.jpg" alt="">
                        </a>
                        <dateComment>October 14 2016 | 0 comments</dateComment>
                        <%= link_to "SHOW REVIEW: Crying and The Hotelier at The Echo", 'http://kspc.org/show-review-crying-and-the-hotelier-at-the-echo/', {:style=>'color: green;', :class => "css_class"} %>
                        <!-- Change this 0 comment and date to a variable -->
                    </div>
                </div>
            </div>

            <div class ="col-4">
                <br><br>
                <p> SIGN UP FOR THE "SPACED OUT" EMAIL NEWSLETTER </p>
                <br>
                <p>Upcoming giveaways, concerts, events and charts delivered to your inbox! </p>
                <p>Search </p>
                <p>Today on KSPC </p>
            </div>
        </div>
    </div>
    
</div>
