<h1>Archives</h1>
<%= button_to "New Archive", new_archive_path, {class: 'btn btn-success', method: "get"} %>

<div class="archives">
  <% @archives.each do |archive| %>
    <div class="archive">
      <%= image_tag archive.media.url %>
      <span class="archive-title">
        <%= archive.title %>
      </span>
    </div>
  <% end %>
</div>