<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Upcoming Events</h1>
    </div>
    <div class="col-lg-12">
        <h1 class="page-header">Spotlight</h1>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="http://kspc.org/beach-goth-2016-preview/">
            <img class="img-responsive" src="http://kspc.org/blog/wp-content/uploads/2016/10/beach-goth-lineup-182x100.png" alt="">
        </a>
        <dateComment>October 21 2016 | 0 comments</dateComment>
        <!-- Change this 0 comment and date to a variable -->
        <%= link_to "Beach Goth 2016 Preview", 'http://kspc.org/beach-goth-2016-preview/', {:style=>'color: green;', :class => "css_class"} %>
        <p>Beach goth 2016 is this weekend .......</p>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="http://kspc.org/show-review-crying-and-the-hotelier-at-the-echo/">
            <img class="img-responsive" src="http://kspc.org/blog/wp-content/uploads/2016/10/hot2-182x100.jpg" alt="">
        </a>
        <dateComment>October 14 2016 | 0 comments</dateComment>
        <%= link_to "SHOW REVIEW: Crying and The Hotelier at The Echo", 'http://kspc.org/show-review-crying-and-the-hotelier-at-the-echo/', {:style=>'color: green;', :class => "css_class"} %>
        <!-- Change this 0 comment and date to a variable -->

    </div>

</div>
