<%= form_for @subscriber do |f| %>
<div class="form-group">
	<%= f.email_field :email, class: "form-control", required: true, :placeholder => 'Your email address' %>
</div>
	<%= f.submit 'Submit', class: 'btn btn-success' %>
<% end %>
