// Place all the styles related to the Archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.archive {
  margin-bottom: 2em;
  margin-right: 2em;
}

.archive-title {
  margin-bottom: 0;
}

.thumbnails {
  height: 250px;
  object-fit: none;
  overflow: hidden;
  width: 250px;
}

.thumbnails img {
  object-fit: contain;
  width:250px;
}

.thumbnails audio {
  width: 250px;
}

.pagination a, .pagination em, .pagination .previous_page {
  padding-right: 5px;
}

audio {
  width: 265px;
}
