// Place all the styles related to the Archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.archive {
  margin-right: 2em;
}

.archive-title {
  margin-bottom: 0;
}

audio {
  width: 265px;
}