<br>
<h1>Expo</h1>
<div class="container">
    <% @expos.each do |expo| %>
      <%= raw expo.content %>
      <div class="row">
        <div class="col">
          <%= button_to "Edit Content", edit_expo_path(expo), {class: 'btn btn-success', method: "get"} %>
        </div>
        <div class="col">
          <div class="text-right">
            <%= link_to "Delete Content", expo_path(expo), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
  <br>
  <br>
  <%= button_to "New Content", new_expo_path, {class: 'btn btn-success', method: "get"} %>
</div>
