.archive {
  margin-bottom: 2em;
  margin-right: 2em;
  width: 250px;
}

.archive-title {
  margin-bottom: 0;
}

.thumbnails {
  position:relative;
  height: 250px;
  object-fit: none;
  overflow: hidden;
  width: 250px;
}

.thumbnails img {
  object-fit: contain;
  width:250px;
}

.thumbnails audio {
  width: 250px;
}

.pagination a, .pagination em, .pagination .previous_page {
  padding-right: 5px;
}

.tag [data-role="remove"]:after {
  content: "";
  cursor: pointer;
  top: -8px;
  right: 10px;
  padding: 0px;
  position: absolute;
  z-index: 1;
}

.tag-box {
  float: left;
  position: relative;
}

h2 { 
  text-align: left;
  position: absolute; 
  top: 150px; 
  left: 0; 
  width: 100%; 
  height:100px;
  background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));;
  color: white; 
  letter-spacing: -1px;  
  padding: 15px; 

  /* opacity setting */
  filter:alpha(opacity=90);    /* ie  */
  opacity: 0.9;    /* css standard, currently it works in most modern browsers like firefox,  */
}

h2 span { 
  font-weight:bold;
  top: 30px; 
  position: absolute; 
  font-size: 75%;
}

h2 date { 
  top: 60px; 
  position: absolute; 
  font-size: 50%;
}

.delete-button {
  position: absolute;
  right: -2px;
  z-index: 1;
}

audio {
  width: 265px;
}

#sort-title-form, #sort-uploaded-form, #sort-date-form {
  display: inline-block;
  margin-bottom: 5px;
}

/* start section for dropwdown search copy pasted from
   http://bootsnipp.com/snippets/featured/advanced-dropdown-search */
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
/* end section for dropdown search */

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

