.new-archive {
  width: 300px;
}

.bootstrap-tagsinput, .tag-box {
  width: 100%;
  font: 12px/1.5 'PT Sans', serif;
  min-height: 41px;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999 !important;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 15px 0 23px;
  position: relative;
  margin: 0 10px 5px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white !important;
}

.tag:hover::after {
   border-left-color: crimson; 
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "✗";
  cursor: pointer;
  top: -8px;
  right: 10px;
  padding: 0px;
  position: absolute;
  z-index: 1;
}
